* {
  margin: 0;
  padding: 0;
}

.app {
  width: 60%;
  height: 80%;
  border: 5px solid gainsboro;
  padding: 2px;
  border-radius: 25px;
  margin-left: 20%;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  padding-top: 25px;
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}
.boardContainer {
  display: flex;
  flex-direction: column;
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: deepskyblue;
}
.white {
  background-color: yellow;
}

.selected {
  background-color: brown;
}
.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: green;
}
.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}
.lost.img {
  width: 20px;
  height: 20px;
}
